<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  {% if page.url == "/" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Drew Cohen",
    "url": "https://drewcohen.me",
    "affiliation": {
      "@type": "CollegeOrUniversity",
      "name": "Tufts University"
    },
    "jobTitle": "Electrical Engineer",
    "sameAs": [
      "https://www.linkedin.com/in/drew-cohen-55064b182/",
      "https://github.com/guanadrew"
    ]
  }
  </script>
  {% endif %}

</head>
<body>
  <header>
    <div class="nav-container">
      <div class="site-title">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </div>
      <nav class="site-nav">
        <a href="{{ '/about' | relative_url }}">about</a>
        <a href="{{ '/projects' | relative_url }}">projects</a>
        <a href="{{ '/music' | relative_url }}">music</a>
        <a href="{{ '/blog' | relative_url }}">blog</a>
      </nav>
    </div>
    <hr>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© {{ site.time | date: "%Y" }} {{ site.copyright }}</p>
  </footer>
</body>
</html>